@media (max-width:1159px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive ul.menu_liste {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 12;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav {
        height: auto;
        padding: 1.6rem 0;
    }

    .topnav.responsive ul.menu_liste a {
        /* Add some padding to the menu items */
        color: black
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav ul.menu_liste {
        display: none;
    }

}

.topnav {
    display: flex;
    justify-content: space-between;
    
    /* align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative; */
}

.topnav .menu_liste {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 4.8rem;
    position: relative;
    background-color: #563d7c;

    /* background: rgba(36, 15, 15, 0.945); */
}




.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.menu_liste a {
    font-size: 1.3rem;
    text-decoration: none;
    /* color: white; */
    color: white;
}

/* flex-item left party */
.text {
    z-index: 2;
    position: absolute;
    top: 200px;
    font-size: 9rem;

}

.i2{
    width: 100%;
}

/* topnav second media*/
/* @media (max-width:913px){
    .vertical-menu{
        display: none;
    }
    .flex-container{
        display: grid !important;
        grid-template-columns: repeat(3,1fr) !important;
    }
} */
/* .vertical-menu party */
.vertical-menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    font-weight: 500;

}
.vertical-menu{
    background-color: #7952b3;
}

/* corps ...........................*/
/* media corps ......................*/
.v{
    display: none;
}
@media (max-width:1155px){
    .v{
        display: block;
    }
    .vertical-menu{
        display: none;
    }
    .flex-container{
        display: grid !important;
        grid-template-columns: repeat(3,1fr) !important;
        position: relative !important;
        left: 0px !important;
        padding-left: 1rem !important;
    }
    .flex-item-left{
        width: 100% !important;
    }
}
@media (max-width:988px){

    .flex-container{
        display: grid !important;
        grid-template-columns: repeat(3,1fr) !important;
        position: relative !important;
        left: 0px !important;
        padding-left: 1rem !important;
    }
}
@media (max-width:988px){
   
    .flex-container{
        display: grid !important;
        grid-template-columns: repeat(2,1fr) !important;
        position: relative !important;
        left: 0px !important;
        padding-left: 1rem !important;
    }
    .flex-item-left{
        width: 100% !important;
    }
}
@media (max-width:511px){
   
    .flex-container{
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        position: relative !important;
        left: 0px !important;
        padding-left: 1rem !important;
    }
    .flex-item-left{
        width: 100% !important;
    }
}



/* end media */


.flex-item-left,
h1 {
    text-align: center;

}

.flex-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: auto auto auto; */

    gap:2rem;
    padding: 10px;
    
    
    
}
.flex-item-left{
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
      
        
        
        /* min-height: 200px; */
        /* width: 25vw; */
        /* margin: 100px auto; */
        background: white;
        border-radius: 5px;
        
        
}
.like{
gap: 2rem;
}
/* .flex-item-leftt {
    padding: 10px;
    margin: 5px;
    flex: 50%;
  } */
.contact_me{
    
    cursor: pointer;

}
.image_ronde{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* end coprs........................ */

/* footer */
.footer {
    text-align: center;
   
        background-color: #7952b3;
  
}
.pos{
    margin-top: -80px;
}
.p{
    /* border: 1px solid beige; */
    /* box-shadow: 10px 10px 10px white; */

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.c{
    /* margin: 9px; */
}
/* ssss */
/*
 * Globals
 */
